PORT=3000

DB_URL=

# openssl rand -base64 32
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

WEB_ORIGIN=http://localhost:5173

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

DYMO_API_KEY=

EMAIL_FROM="Buildr <hello@buildr.dev>"
RESEND_API_KEY=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=
